{% extends 'base/main.html' %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="container mt-4">
    <h3>Formulario para insertar comentarios</h3>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label }}
            {{ field }}
        </div>
        {% endfor %}
        <div class="form-group">
            <input type="submit" value="Comentar" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock %}